body{
    margin: 0;
    padding: 0;
    font-family: 'niveau-grotesk', sans-serif;    font-size: 16px;
    line-height: 1.4;
    z-index: -2000;
    color: #707070;
    height: calc(100% - 90px);
    width: 100%;
    position: absolute;
    
}
.maincontainer{
    z-index: -300;
    top: 80px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 90px);
    position: relative;
    margin: 0px 26px;
}
.grille__image{
    width: 100%;
    height: auto;
}
.grille{
    display: none;
}
.grille--open{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.6;
    pointer-events: none;
}

.image__colonnes--gauche{
    margin-top: 0px;
    margin-bottom: 0;
    max-width: 350px;
}
.image__colonnes--droite{
    margin-bottom: 22px;
    margin-left: 26px;
    max-width: 350px;
}
.image__colonnes--centre{
    max-width: 376px;
}
.h3--edition2022{
    display: flex;
    flex-direction: column;
}
.h3--laconference{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}
.h3--amedartiste{
    display: flex;
    flex-direction: column;
}
.h3--monressenti{
    display: flex;
    flex-direction: column;
}
.simpson img{
    width: 100%;
    height: auto;
}
.webisdone img{
    margin-bottom: 28px;
    width: 100%;
    height: auto;
}
.beforeCSS{
    margin-bottom: 13px;
}

.firstbook img{
    margin-bottom: 17px;
}
.perceval img{
    margin-bottom: 14px;
}
.hobbit{
    margin-bottom: 11px;
}
.video{
    margin: 26px 0px 52px 0px;
}
.texte__colonnes{
    max-width: 350px;
    font-size: 1.1250em;
}
.texte__colonnes--gauche{
    margin-top: 10px;
    margin-bottom: 18px;
    max-width: 350px;
    font-size: 1.1250em;
}
.texte__colonnes--gauche.doublep{
    margin-top: 6.8%;
}

.texte__colonnes--droite.doublep{
    margin-top: 6.8%;
}
.texte__colonnes--centre.doublep{
    margin-top: 7px;
}

.texte__colonnes--droite{
    margin-left: 26px;
    max-width: 350px;
    font-size: 1.1250em;
    margin-top: 10px;
    margin-bottom: 18px;
}
.texte__colonnes--droite.first{
    margin-top: 10px;
}
.texte__colonnes--centre{
    max-width: 376px;
    font-size: 1.1250em;
    margin-top: 10px;
    margin-bottom: 18px;
}
.bold{
    font-weight: 600;
}
.texte__bloc--desktop{
    display: block;
}
.texte__hyperlink{
    text-decoration: none;
    color: #2C51A9;
}
.texte__equipeprojet{
    color: #FFFFFF;
}
.equipier__nom{
    font-size: 28px;
    color: #FFFFFF;
}
.title{
    margin-left: 26px;
    font-size: 1.601806641em;
    font-weight: 600;
    line-height: 1.05;
    color: #2C51A9;
}
.title--big{
    margin-top: 20px;
    margin-left: 26px;
    font-size: 3.6532em;
    max-width: 295px;
    max-height: 115px;
    margin-bottom: 12px;
}
.title--medium.first{
    font-size: 2.2807em;
    margin-right: 52px;
    text-align: right;
    margin-top: 43px;
    margin-bottom: 12px;
}
.title--medium.second{
    font-size: 2.2807em;
    margin-right: 52px;
    text-align: right;
    margin-top: 43px;
    margin-bottom: 12px;
}
.title--medium--fermeture{
    font-size: 2.2807em;
    color: #707070;
    margin-left: 26px;
    margin-bottom: 19px;
    margin-top: 18px;
}
.title--medium span{
    color: #707070;
}
.title--small{
    font-size: 1.601806641em;
    margin-bottom: 0;
    margin-top: 53px;
}
.title--small.first{    margin-bottom: 0;
    margin-top: 10px;
}
.title--underline{
    background-color: #2C51A9;
    width: 1.5em;
    height: 0.2em;
    margin-bottom: 1px;
    margin-top: 10px;
}
.reseaux{
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    height: 50px;
    margin: 10px 0 22px 0;

}
.equipier__description{
    color: #FFFFFF;
    height: 126px;

}

.navcontainer{
    top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    background-color: #FFFFFF;

}
.menu{
    z-index: 1000;
    padding: 0px 26px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu__el svg{
    scale: 65%;
}
.bgmenu__el{
    color: #707070;
}
.bgmenu__el--h2--color{
    color: #707070;
}
.bgmenu__el a{
    text-decoration: none;
    color: #2C51A9;
}

.bgmenu__el--h2{
    color: #707070;
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
    padding: 15px 0px 0px 26px;
}
.bgmenu__el--h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 52px;
}
.bgmenu__nav{
    z-index: -10;
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: #FFFFFF;
    width: 370px;
    height: 100%;

    left: 100%;
    transition: all 0.3s cubic-bezier(0.12, 0, 0.39, 0);
    transform:  translate(0) rotate(0);
    pointer-events: none;
}
.menu--open {
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.12, 0, 0.39, 0);
    transform: translate(-100%) rotate(0);
    pointer-events: none;
}


.menu__liste{
    height: 35px;
    width: 30%;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    margin-top: 12px;
}
.menu__logo{
    margin-top: 18px;
    margin-bottom: 0px;
    max-height: 35px;
    height: 35px;
}
.footercontainer{
    display: flex;
    flex-direction: column;
    background-color: #2C51A9;
    height: 90px;
    margin-top: 90px;
    bottom: 0;
    width: 100%;
    position: relative;
}
.subNav{
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.subNav__el a{
    text-decoration: none;
    color: #FFFFFF;
}
.credits{
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.credits a{
    text-decoration: none;
    color: #FFFFFF;
}
.info--open{
    display: none;
}
.section__equipier{
    display: flex;
    width: 322px;
    height: 296px;
    background-color: #2C51A9;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 15px;
    margin-bottom: 26px;
    flex-direction: column;
    z-index: -10;
    padding-bottom: 0;
}
.section__equipier--kesily{
    background-image: url("images/kesily@2x.png");
    background-size: 60%;
    margin-top: 29px;
}
.section__equipier--thibaud{
    background-image: url("images/thibaud@2x.png");
    background-size: 40%;
}
.section__equipier--mika{
    background-image: url("images/mika@2x.png");
    background-size: 40%;
}
.section__equipier--jonathan{
    background-image: url("images/jonathan@2x.png");
    background-size: 60%;
}
.section__equipier--information{
    z-index: -150;
    background: linear-gradient(90deg,#2C51A9,90%,rgba(255, 255, 255, 0));

    flex-direction: column;
    width: 322px;
    height: 86.5%;
    opacity: 0.8;
}

@media (min-width: 1200px){
    .menu__liste{
        width: 10%;
    }

    body{
        font-size: 16px;
        height: 100%;
        max-width: 100%;
        line-height: 1.21739;
    }
    .maincontainer{
        margin: 0px 2.92%;
        max-width: 100%;
    }

    .title--small.first{
        margin-top: 20px;
    }
    .title--small{
        font-size: 2.4883em;
        margin-left: 12.5%;
        margin-top: 135px;
    }
    .title--underline{
        margin-left: 12.5%;
        margin-bottom: 0.2%;
    }
    .title--medium.second{
        font-size: 6.1917em;
        margin-top: 113px;
        margin-left: 57.2%;
        text-align: left;
    }
    .title--medium.first{
        font-size: 6.1917em;
        margin-top: 113px;
        margin-left: 60.9%;
        text-align: left;
    }
    .title--medium--fermeture{
        font-size: 6.1917em;
        margin-left: 2.92%;
        margin-bottom: 82px;
        margin-top: 13px;
    }
    .title--big{
        font-size: 7.430083707em;
        max-width: 65.4vh;
        margin-left: 20.28%;
        /*margin-left: 367px;*/
        /*margin-top: 3.8%;*/
        margin-top: 70px;
    }

    .grille__image{
        width: 100%;
        height: 8728px;
    }
    .grille{
        display: none;
    }
    .grille--open{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0.6;
        pointer-events: none;
    }
    .menu{
        padding: 0px 2.92%;
    }
    .texte__colonnes--15desk{
        font-size: 1.44em;
        max-width: 68.8%;
    }

    .doublep.texte__colonnes--15desk{
        margin-top: 28px;
    }
    .h3--unevenementsmart{
        display: flex;
    }
    .texte__bloc--desktop p{
        max-width: 100%;
        margin-right: 0;
    }
    .texte__bloc--desktop {
        margin-top: 54px;
        margin-left: 20.2%;
        max-width: 29.8%;
    }
    .webisdone {
        margin-left: 10.9%;
    }
    .webisdone img {
        /*00width: 152%;*/
        width: 27.8vw;
        margin-bottom: 26px;
    }
    .h3--edition2022{
        width: 100%;
        flex-direction: row;
    }
    #replacement__ordre{
        order: 1;
    }
    .texte__bloc--desktop--droite{
        margin-top: 57px;
        order: 2;
        height: 50%;
    }
    .simpson{
        margin-top: 56px;
        margin-left: 14%;
        margin-bottom: 0.9%;
    }
    .simpson img{
        width: 262%;
    }
    .texte__colonnes--11desk{
        font-size: 23px;
        max-width: 35%;
    }
    .h3--edition2022 .texte__colonnes--11desk{
        margin-left: 43.6%;
        margin-bottom: 26px;
    }
    .h3--edition2022 .texte__colonnes--droite{
        margin-top: 8px;
    }
    .h3--laconference .texte__colonnes--11desk{
        margin: 0;
        margin-top: 26px;
        margin-left: 49.5%;
        margin-right: 20%;
    }
    .h3--laconference .first.texte__colonnes--11desk{
        margin-top: 8px;
    }
    .h3--laconference .bold.texte__colonnes--11desk{
        margin-top: 28px;
    }
    .h3--laconference{
        display: flex;
        flex-direction: row;
        margin: 0 0 25px 0;
    }
    .h3--laconference .texte__bloc--desktop--droite{
        margin-bottom: 1.4%;
    }
    .beforeCSS{
        margin-top: 58px;
        margin-left: 15.6%;
        margin-bottom: 1.5%;
    }
    .beforeCSS img{
        width: 332%;
    }

    .h3--amedartiste{
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        margin: 0 0 0 0;
        width: 100%;
    }
    .h3--amedartiste .bold.texte__colonnes--15desk{
        margin: 6px 0 22px 0;
        width: 200%;
    }
    .h3--amedartiste .texte__colonnes--11desk{
        margin: 204px 0 0 20.3%;
        max-width: 23.5%;
    }
    .h3--amedartiste .texte__bloc--desktop{
        margin: 0 0 0 6.2%;
    }
    .firstbook img{
        width: 38vw;
        margin: 0;
    }
    .h3--mavision{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 21px;
    }
    .h3--mavision .texte__bloc--desktop{
        display: flex;
        max-width: 100%;
        margin-left: 15.45%;
        margin-top: 56px;
        margin-bottom: 0;
    }
    .h3--mavision .texte__colonnes--11desk{
        margin: 0;
        max-width: 28%;
        font-size: 40px;
        line-height: 1.15;
    }
    .perceval{
        margin: 0 0 0 1.75%;
    }
    .perceval img{
        width: 36.5vw;
    }
    .h3--mavision .texte__colonnes--25desk{
        margin: 48px 0 0 29.65%;
        max-width: 50%;
        font-size: 1.44em;
    }
    .h3--monressenti{
        display: flex;
        flex-direction: row;
        margin-bottom: 19px;
    }
    .h3--monressenti .texte__bloc--desktop{
        max-width: 39.2%;
        display: flex;
        flex-direction: column;
        margin-top: 26px;
    }
    .h3--monressenti .texte__colonnes--20desk{
        max-width: 100%;
        font-size: 1.44em;
    }
    .hobbit{
        margin: 29px 0 0 1.5%;
    }
    .hobbit img{
        width: 27.7vw;

    }
    .h3--monressenti .texte__colonnes--11desk{
        margin: 22px 0 0 0;
        max-width: 76%;
        font-size: 40px;
        line-height: 1.15;
        align-self: flex-end;
    }
    .h3--nouvgen{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-bottom: 19px;
        width: 100%;
        margin-top: 58px;
    }
    .marty{
        margin: 0 0 0 15.5%;
    }
    .marty img{
        width: 38vw;
    }
    .h3--nouvgen .texte__colonnes--20desk{
        max-width: 100%;
        font-size: 1.44em;
        margin: 29px 0 0 0;
    }
    .h3--nouvgen .texte__colonnes--11desk{
        margin: 0 0 0 0;
        max-width: 76%;
        font-size: 40px;
        line-height: 1.15;
        align-self: flex-end;
    }
    .h3--nouvgen .texte__bloc--desktop{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 25.85%;
        margin-top: 0;
        width: 100%;
    }
    .h3--aretenir{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .h3--aretenir .texte__bloc--desktop{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        max-width: 59.4%;
        margin-top: 50px;
    }
    .h3--aretenir .texte__colonnes--11desk{
        margin: 50px 0 0 20.3%;
        font-size: 40px;
        line-height: 1.15;
        max-width: 50%;
    }
    .h3--aretenir .texte__colonnes--10desk{
        font-size: 1.44em;
        margin-left: 35.5%;
        margin-top: 5px;
    }
    .futur{
        margin: 0 0 0 0.2%
    }
    .futur img{
        width: 33.5vw;
    }
    

}

