body{
    margin: 0;
    padding: 0;
    font-family: 'niveau-grotesk', sans-serif;    font-size: 16px;
    line-height: 1.4;
    z-index: -2000;
    color: #707070;
    height: calc(100% - 90px);
    width: 100%;
    position: absolute;
    
}
.dark{
    color: #FFFFFF;
    background-color: #1B1B1B;
}
.dark .navcontainer{
    background-color: #1B1B1B;
}
.gris {
    fill: #707070;
}
.bleu{
    fill: #2c51a9;
}
.dark .gris {
    fill: #ffffff;
}
.dark .bleu {
    fill: #5AC139;
}.dark .title{
    color: #5AC139;
}
.dark .bgmenu__nav span{
    color: #FFFFFF;
}
.dark .maincontainer span{
    color: #FFFFFF;
}
.dark .maincontainer .title--underline{
    background-color: #5AC139;
}
.dark .texte__hyperlink{
    color: #5AC139;
}
.dark .menu--open{
    background-color: #1B1B1B;
}
.dark .bgmenu__nav{
    background-color: #1B1B1B;
}
.dark .bgmenu__nav a{
    color: #5AC139;
}
.dark .picto-reseaux{
    background-color: #5AC139;
}
.dark .texte__equipeprojet{
    background-color: #5AC139;
}
.maincontainer{
    z-index: -300;
    top: 80px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 90px);
    position: relative;
    margin: 0 6%;
    width: calc(100% - 26px);
}
.grille__image{
    width: 100%;
    height: 7765px;
}
.grille{
    display: none;
}
.grille--open{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.6;
    pointer-events: none;
}

.image__colonnes--gauche{
    margin-top: 0px;
    margin-bottom: 0;
    max-width: 350px;
}
.image__colonnes--droite{
    margin-bottom: 22px;
    margin-left: 6.8%;
    max-width: 350px;
}
.image__colonnes--centre{
    max-width: 376px;
}
.h3--unevenementsmart{
    margin-bottom: 27px;
}

.h3--edition2022{
    display: flex;
    flex-direction: column;
    max-height: 678px;
    margin-bottom: 6px;
}
.h3--laconference{
    display: flex;
    flex-direction: column;
    margin: 0 0 12px 0;
}
.h3--amedartiste{
    display: flex;
    flex-direction: column;
}
.h3--monressenti{
    display: flex;
    flex-direction: column;
}
.h3--nouvgen{
    margin-bottom: 45px;
}
.futur img{
    margin: 0 0 21px 0;
    width: 93.5%;
}
.simpson img{
    width: 93.5%;
    height: auto;
}
.webisdone img{
    height: auto;
    width: 93.5%;
}

.beforeCSS{
    margin-bottom: 13px;
}
.beforeCSS img{
    width: 94%;
}

.firstbook img{
    margin-bottom: 31px;
    width: 93.5%;
}
.perceval img{
    margin-bottom: 20px;
    width: 93.5%;
}
.hobbit{
    margin-bottom: 11px;
    width: 93.5%;
}
.marty img{
    width: 87%;
}
.video{
    margin: 26px 0px 52px 0px;
}
.texte__colonnes{
    max-width: 350px;
    font-size: 1.1250em;
}
.texte__colonnes--gauche{
    margin-top: 10px;
    margin-bottom: 18px;
    max-width: 86.5%;
    font-size: 1.1250em;
}
.texte__colonnes--gauche.doublep{
    margin-top: 24px;
}

.texte__colonnes--droite.doublep{
    margin-top: 6.8%;
}
.texte__colonnes--droite.doublep.bold{
    margin-top: 6.5%;
}
.texte__colonnes--centre.doublep{
    margin-top: 7px;
}

.texte__colonnes--droite{
    margin-left: 6.8%;
    max-width: 86.5%;
    font-size: 1.1250em;
    margin-top: 10px;
    margin-bottom: 18px;
}
.texte__colonnes--droite.first{
    margin-top: 10px;
}
.texte__colonnes--centre{
    max-width: 94%;
    font-size: 1.1250em;
    margin-top: 10px;
    margin-bottom: 18px;
}
.bold{
    font-weight: 600;
}
.texte__bloc--desktop{
    display: block;
}
.texte__hyperlink{
    text-decoration: none;
    color: #2C51A9;
}
.texte__equipeprojet{
    color: #FFFFFF;
}
.equipier__nom{
    font-size: 28px;
    color: #FFFFFF;
}
.title{
    margin-left: 26px;
    font-size: 1.601806641em;
    font-weight: 600;
    line-height: 1.05;
    color: #2C51A9;
}
.title--big{
    margin-top: 20px;
    margin-left: 26px;
    font-size: 3.6532em;
    max-width: 295px;
    max-height: 115px;
    margin-bottom: 12px;
}
.title--medium.first{
    font-size: 2.2807em;
    margin-right: 52px;
    text-align: right;
    margin-top: 43px;
    margin-bottom: 12px;
}
.title--medium.second{
    font-size: 2.2807em;
    margin-right: 52px;
    text-align: right;
    margin-top: 43px;
    margin-bottom: 12px;
}
.title--medium--fermeture{
    font-size: 2.2807em;
    color: #707070;
    margin-left: 26px;
    margin-bottom: 19px;
    margin-top: 18px;
}
.title--medium span{
    color: #707070;
}
.title--small{
    font-size: 1.601806641em;
    margin-bottom: 0;
    margin-top: 53px;
}
.title--small.first{    margin-bottom: 0;
    margin-top: 10px;
}
.title--underline{
    background-color: #2C51A9;
    width: 1.5em;
    height: 0.2em;
    margin-bottom: 1px;
    margin-top: 10px;
}
.reseaux{
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    height: 50px;
    margin: 10px 0 22px 0;

}
.equipier__description{
    color: #FFFFFF;
    height: 126px;

}

.navcontainer{
    top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    background-color: #FFFFFF;

}
.menu{
    z-index: 1000;
    padding: 0px 26px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu__el svg{
    scale: 65%;
}
.bgmenu__el{
    color: #707070;
}
.bgmenu__el--h2--color{
    color: #707070;
}
.bgmenu__el a{
    text-decoration: none;
    color: #2C51A9;
}

.bgmenu__el--h2{
    color: #707070;
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
    margin-left: 32px;
}
.bgmenu__el--h2.first{
    margin-top: 20px;   
}
.bgmenu__el--h2.fermeture{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0;   
}
.bgmenu__el--h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 52px;
    margin-top: 4px;
}
.lien{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 22'%3E%3Cdefs%3E%3Cstyle%3E.b%7Bfill:%232c51a9%3B%7D%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M21 12v10H0V3H12v2H2v15H19V12h2ZM24 0H13l4 4-7 7.1 2.8 2.8 7-7.1 4.2 4.2V0Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5%;
    margin-top: 12px;
    margin-left: 4.2%;
}
.dark .lien{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 22'%3E%3Cdefs%3E%3Cstyle%3E.b%7Bfill:%235ac139%3B%7D%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M21 12v10H0V3H12v2H2v15H19V12h2ZM24 0H13l4 4-7 7.1 2.8 2.8 7-7.1 4.2 4.2V0Z'/%3E%3C/svg%3E");
    }
.bgmenu__nav{
    z-index: -10;
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: #FFFFFF;
    width: 370px;
    height: 100%;

    left: 100%;
    transition: all 0.3s cubic-bezier(0.12, 0, 0.39, 0);
    transform:  translate(0) rotate(0);
}
.menu--open {
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.12, 0, 0.39, 0);
    transform: translate(-100%) rotate(0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 16px;
}


.menu__liste{
    height: 35px;
    width: 30%;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    margin-top: 12px;
}
.menu__logo{
    margin-top: 18px;
    margin-bottom: 0px;
    max-height: 35px;
    height: 35px;
}
.footercontainer{
    display: flex;
    flex-direction: column;
    background-color: #2C51A9;
    height: 90px;
    margin-top: 90px;
    bottom: 0;
    width: 100%;
    position: relative;
}
.dark .footercontainer{
    background-color: #5AC139;
}
#e{
    fill: #ffdc00;
}
#a{
    /*fill: #222;*/
    fill: rgb(255, 255, 255);
}
.subNav{
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.subNav__el a{
    text-decoration: none;
    color: #FFFFFF;
}
.credits{
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.credits a{
    text-decoration: none;
    color: #FFFFFF;
}
.info--open{
    display: none;
}
.section__equipier{
    display: flex;
    width: 336px;
    height: 296px;
    background-color: #2C51A9;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 15px;
    margin-bottom: 26px;
    flex-direction: column;
    z-index: -10;
    padding-bottom: 0;
}
.dark .section__equipier{
    background-color: #5AC139
}
.dark .section__equipier--information{
    background: linear-gradient(90deg,#5AC139,90%,rgba(255, 255, 255, 0));
}

.section__equipier--kesily{
    background-image: url("images/kesily@2x.png");
    background-size: 60%;
    margin-top: 29px;
}
.section__equipier--thibaud{
    background-image: url("images/thibaud@2x.png");
    background-size: 40%;
}
.section__equipier--mika{
    background-image: url("images/mika@2x.png");
    background-size: 40%;
}
.section__equipier--jonathan{
    background-image: url("images/jonathan@2x.png");
    background-size: 60%;
}
.section__equipier--information{
    z-index: -150;
    background: linear-gradient(90deg,#2C51A9,90%,rgba(255, 255, 255, 0));
    flex-direction: column;
    width: 336px;
    height: 86.5%;
    opacity: 0.8;
}
.insta__logo{
    width: 48.046px; 
    height: 48.049px;
}
.twitter__logo{
    width: 49.824px; 
    height: 41.822px;
    margin-top: 2px;
}
.credits{
    display: flex;
    justify-content: center;
}
.credits svg{
    height: 15px;
    margin-right: 4px;
}
.uikit{
    display: flex;
}
.uikit .title--medium.second{
    margin-right: 6%;
}
.uikit .uigrid__el--logo{
    margin-top: 24px;
    margin-left: 13%;
    margin-bottom: 67px;
}
.uikit .uigrid__el--boutons{
    margin-top: 32px;
    margin-left: 10%;
    margin-bottom: 70px;
}
.uikit .uigrid__el--boutons svg{
    margin-left: 3.8%;
}
.uikit .title--small.ui{
    margin-top: 8px;
    margin-left: 6.5%;
}
.picto-reseaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C51A9;
    width: 35%;
    margin: 20px 0 0 13%;
}
.uikit a{
    display: block;
    font-size: 1.2em;
    text-decoration: underline;
    margin-left: 13%;
    margin-top: 20px;
}
.uikit .texte__equipeprojet{
    background-color: #2C51A9;
    width: 35%;
    text-align: center;
    margin-bottom: 75px;
}
.picto-reseaux svg{
    margin: 6px 0 6px 0;
}
.uikit .title--big{
    margin-left: 0%;
    margin-bottom: 59px;
}
.uigrid .title--medium{
    margin-left: 6.5%;
    text-align: start;
}
.uigrid .title--small{
    margin-left: 13%;  
}
.uigrid .title--underline{
    margin-left: 13%;
    margin-bottom: 76px;
}

.texte__hyperlink.ui{
    font-size: 18px;
    display: inline;
    margin: 0;
}
.uigrid__el--paragraphes{
    margin-top: 26px;
    margin-left: 13%;
}
.casestudy .title--small.first{
    margin-top: 32px;
}
.discord{
    margin-left: 7%;
}
.discord img{
    width: 87%;
    margin-top: 45px;
    margin-bottom: 15px;
}
.contraste{
    margin-left: 7%;
}
.contraste img{
    width: 87%;
    margin-top: 30px;
    margin-bottom: 5px;
}
.logoimage{
    margin-left: 7%;
}
.logoimage img{
    width: 87%;
    margin-top: 45px;
    margin-bottom: 15px;
}
.layout{
    margin-left: 7%;
}
.layout img{
    width: 87%;
    margin-top: 45px;
    margin-bottom: 15px;
}
.hackeur{
    margin-left: 7%;
}
.hackeur img{
    width: 87%;
    margin-top: 45px;
    margin-bottom: 15px;
}
.lagrille{
    margin-left: 7%;
}
.lagrille img{
    width: 87%;
    margin-top: 45px;
    margin-bottom: 15px;
}
.casestudy .texte__colonnes--gauche{
    margin-left: 7%;
}
.movie{
    width: 96%;
    height: auto;
    margin-left: 0%;
    margin-top: 25px;
}
.videopro{
    width: 92%;
}
.dark .subNav__el a{
    color: #1B1B1B;
}
.dark .credits a{
    color: #1B1B1B;
}
.dark #a{
    fill: #1B1B1B;
}
.dark .texte__equipeprojet{
    background-color: #5AC139;
}
.dark .insta__logo{
    fill: #1B1B1B;
}
.darkbout{
    transition: cubic-bezier(0.075, 0.82, 0.165, 3);
}
.dark .darkbout{
    transform: translateY(21px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 3);
}
.title--underline{
    margin-left: 0;
}
#underline1{
    margin-left: calc(7%);
}
#underline2{
    margin-left: calc(9% + 40px);
}
#underline3{
    margin-left: calc(9% + 80px);
}
#underline4{
    margin-left: calc(9% + 120px);
}
#underline5{
    margin-left: calc(9% + 160px);
}
#underline6{
    margin-left: calc(9% + 200px);
}
#underline7{
    margin-left: calc(9% + 240px);
}
#underline8{
    margin-left: calc(9% + 280px);
}


@media (min-width: 600px) {
    .menu__liste{
        width: 19%;
    }
    body{
        font-size: 16px;
        height: 100%;
        max-width: 100%;
        line-height: 1.223809;
    }
    .maincontainer{
        margin: 0px 2.92%;
        max-width: 94%;
    }
    .grille__image{
        width: 100%;
        height: 7494.505041246562786px;

    }
    .bgmenu__el--h2{
        font-size: 25px;
        font-weight: 600;
        line-height: 60px;
        margin-left: 32px;
        margin-top: 60px;
    }
    .bgmenu__el--h2.first{
        margin-top: 22px;   
    }

    .bgmenu__el--h3{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        padding-left: 52px;
        margin-top: 4px;
    }
    .lien.first{
        margin-top: 60px;
    }
    .title--big{
        font-size: 4.8335em;
        margin-top: 40px;
        margin-left: 20.5%;
    }
    .title--small.first{
        margin-top: 29px;
    }
    .title--small{
        font-size: 2.0466em;
        margin-left: 9.2%;
        margin-top: 10px;
    }
    .title--underline{
        margin-left: 9.2%;
        margin-bottom: 0.2%;
    }
    .title--medium.second{
        font-size: 3.1452em;
        margin-top: 95px;
        margin-right: 20.5%;
        text-align: end;
    }
    .title--medium.first{
        font-size: 3.1452em;
        margin-top: 107px;
        margin-right: 20.5%;
        text-align: end;
    }
    .title--medium--fermeture{
        font-size: 3.1452em;
        margin-top: 50px;
    }
    .texte__colonnes--gauche.first{
        margin: 37px 0 0 20.4%;
    }
    .texte__colonnes--gauche{
        font-size: 1.331716em;
        max-width: 70%;
        margin: 0 0 0 20.4%;
    }
    .texte__colonnes--centre{
        font-size: 1.331716em;
        max-width: 79.8%;
        margin: 38px 0 0 0;
    }
    .texte__colonnes--gauche.doublep{
        margin: 28px 0 0 20.4%;
    }
    .webisdone img{
        width: 70.5%;
        margin: 48px 0 8px 0;
    }
    .webisdone{
        margin: 0 0 0 20.4%;
    }
    .h3--unevenementsmart{
        margin-bottom: 121px;
    }
    .texte__colonnes--droite.first{
        margin: 37px 0 0 20.4%;
    }
    .texte__colonnes--droite{
        font-size: 1.331716em;
        max-width: 70%;
        margin: 0 0 0 20.4%;
    }
    .texte__colonnes--droite.doublep{
        margin: 28px 0 0 20.4%;
    }
    .simpson img{
        width: 142.2%;
        margin: 48px 0 0 0;
    }
    .simpson{
        margin: 0 0 115px 20.4%;
    }
    .h3--edition2022{
        max-height: none;
    }
    .h3--laconference .texte__colonnes--gauche.first{
        margin: 37px 0 0 9.2%;
    }
    .h3--laconference .texte__colonnes--gauche{
        margin: 0 0 0 9.2%;
    }
    .h3--laconference .texte__colonnes--gauche.doublep{
        margin: 28px 0 0 9.2%;
    }
    .beforeCSS img{
        width: 144%;
    }
    .beforeCSS{
        margin-left: 8.5%;
        margin-top: 38px;
        margin-bottom: 86px;
    }
    .firstbook img{
        width: 70%;
        margin-top: 22px;
        margin-bottom: 20px;
    }
    .firstbook{
        margin-left: 20.3%;
    }
    .perceval img{
        width: 79.7%;
        margin-top: 22px;
        margin-bottom: 32px;
    }
    .h3--mavision .texte__colonnes--25desk{
        margin: 9px 0 0 0;
        max-width: 79.8%;
    }
    .h3--mavision{
        margin-bottom: 116px;
        margin-left: 9.2%;
    }
    .h3--monressenti .texte__colonnes--20desk{
        margin-top: 38px;
    }
    .h3--monressenti .texte__colonnes--11desk{
        margin-top: 30px;
    }
    .hobbit img{
        width: 142%;
        margin-top: 20px;
    }
    .hobbit{
        margin-left: 20.5%;
    }
    .h3--monressenti{
        margin-bottom: 118px;
    }
    .h3--nouvgen{
        margin-bottom: 110px;
    }
    .h3--nouvgen .texte__colonnes--20desk{
        margin-top: 39px;
        margin-left: 0;
    }
    .h3--nouvgen .doublep.texte__colonnes--11desk{
        margin-top: 29px;
        margin-left: 0;
    }
    .marty img{
        width: 71.5%;
        margin-top: 20px;
    }
    .marty{
        margin-left: 0%;
    }
    .h3--aretenir .texte__colonnes--10desk{
        max-width: 79.8%;
        margin-left: 8.5%;
        margin-top: 35px;
    }
    .h3--aretenir .texte__colonnes--11desk{
        max-width: 79.8%;
        margin-left: 8.5%;
        margin-top: 0;
    }
    .futur img{
        width: 79.5%;
        margin-left: 8.5%;
        margin-top: 32px;
    }
    .maincontainer__equipe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 350px 350px auto;
        grid-gap: 1%;
    }
    .maincontainer__equipe .title--medium.second{
        margin-right: 0;
        margin-left: 0;
        margin-top: 64px;
        grid-column: 2;
        grid-row: 1;
    }
    .section__equipier{
        width: 92%;
        height: auto;
        margin-bottom: 0;
    }
    .section__equipier--kesily{
        margin-top: 0;
        margin-right: 0%;
        grid-column: 1;
        grid-row: 2;
    }
    .section__equipier--thibaud{
        grid-column: 2;
        grid-row: 2;
    }
    .section__equipier--mika{
        grid-column: 1;
        grid-row: 3;
    }
    .section__equipier--jonathan{
        grid-column: 2;
        grid-row: 3;
    }
    .maincontainer__equipe .title--medium--fermeture{
        grid-column: 1;
        grid-row: 4;
    }
    .section__equipier--information{
        width: 100%;
        height: 86.5%;
    }
    .section__equipier--information{
        height: 100%;
    }
    .equipier__description{
        height: 40%;
    }
    .credits{
        display: flex;
        justify-content: center;
    }
    .credits svg{
        height: 15px;
    }
    .uikit .title--medium.second{
        margin-top: 89px;
    }
    .uigrid .title--small.ui{
        margin-left: 9.4%;  
    }
    .uigrid .title--small.ui.first{
        margin-top: 29px;  
    }
    .uikit .uigrid__el--logo{
        margin-top: 24px;
        margin-left: 15.6%;
        margin-bottom: 68px;
    }
    .uikit .uigrid__el--boutons{
        margin-top: 34px;
        margin-left: 12.4%;
        margin-bottom: 72.4px;
    }
    .picto-reseaux{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2C51A9;
        width: 23.5%;
        margin: 20px 0 0 15.6%;
    }
    .uikit a{
        margin-left: 15.6%;
        margin-top: 27px;
    }
    .uikit .texte__equipeprojet{
        background-color: #2C51A9;
        width: 23.5%;
        text-align: center;
        margin-bottom: 77px;
        margin-top: 24px;
    }
    .title--small.alone{
        margin-left: 15.5%;
    }
    .uigrid .title--underline{
        margin-left: 15.5%;
        margin-bottom: 82px;
    }
    .uigrid .title--big{
        max-width: 80%;
        margin-left: 15.5%;
        margin-top: 33px;
        margin-bottom: 22px;
    }
    .uigrid .title--medium.second{
        margin-left: 15.5%;
        text-align: start;
        margin-top: 0px;
        margin-bottom: 42px;
    }
    .uigrid__el--paragraphes .texte__colonnes--gauche.doublep{
        margin-left: 3%;
    }
    .casestudy .title--medium.second{
        margin-top: 89px;
        margin-right: 6%;
    }
    .casestudy .title--small.case{
        margin-left: 9.4%;  
    }
    .casestudy .title--small.case.first{
        margin-top: 29px;  
    }

    .case{
        margin-left: 9.4%;
    }
    .case img{
        margin-top: 48px;
        width: 75%;
    }
    .casestudy .texte__colonnes--gauche{
        margin-left: 9.4%;
        max-width: 75%;
        margin-top: 22px;
        margin-bottom: 115px;
    }
    .contraste img{
        margin-top: 88px;
    }
    .logoimage img{
        margin-top: 54px;
    }
    .layout img{
        margin-bottom: 32px;
    }
    .lagrille img{
        margin-top: 45px;
        margin-bottom: 34px;
    }
    .discord img{
        margin-bottom: 20px;
    }
    .hackeur img{
        margin-bottom: 22px;
    }
    .videopro .title--medium.second{
        margin-top: 89px;
        margin-right: 5.8%;
    }
    .videopro .texte__colonnes--gauche{
        margin-left: 9.4%;
        max-width: 50%;
        margin-top: 38px;
    }
    .movie{
        width: 78%;
        height: auto;
        margin-left: 9.4%;
        margin-top: 50px;
    }
    .videopro{
        width: 100%;
    }
    .title--underline{
        margin-left: 0;
        width: 50px;
    }
    #underline1{
        margin-left: calc(9%);
    }
    #underline2{
        margin-left: calc(9% + 40px);
    }
    #underline3{
        margin-left: calc(9% + 80px);
    }
    #underline4{
        margin-left: calc(9% + 120px);
    }
    #underline5{
        margin-left: calc(9% + 160px);
    }
    #underline6{
        margin-left: calc(9% + 200px);
    }
    #underline7{
        margin-left: calc(9% + 240px);
    }
    #underline8{
        margin-left: calc(9% + 280px);
    }





}

@media (min-width: 1200px){
    .menu__liste{
        width: 10%;
    }

    body{
        font-size: 16px;
        height: 100%;
        max-width: 100%;
        line-height: 1.21739;
    }
    .maincontainer{
        margin: 0px 2.92%;
        max-width: 97.08%;
    }

    .title--small.first{
        margin-top: 20px;
    }
    .title--small{
        font-size: 2.4883em;
        margin-left: 12.2%;
        margin-top: 135px;
    }
    .title--underline{
        margin-left: 12.5%;
        margin-bottom: 0.2%;
    }
    .title--medium.second{
        font-size: 6.1917em;
        margin-top: 113px;
        margin-right: 12.1%;
        text-align: end;
    }
    .title--medium.first{
        font-size: 6.1917em;
        margin-top: 113px;
        margin-right: 12.1%;
        text-align: end;
    }
    .title--medium--fermeture{
        font-size: 6.1917em;
        margin-left: 2.92%;
        margin-bottom: 80px;
        margin-top: 13px;
    }
    .title--big{
        font-size: 7.430083707em;
        max-width: 64.8vh;
        margin-left: 19.8%;
        /*margin-left: 367px;*/
        /*margin-top: 3.8%;*/
        margin-top: 70px;
    }

    .grille__image{
        width: 100%;
        /*height: 8728px;*/
        height: 7948px;
    }
    .grille{
        display: none;
    }
    .grille--open{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0.6;
        pointer-events: none;
    }
    .menu{
        padding: 0px 2.92%;
    }

    .texte__colonnes--15desk{
        font-size: 1.44em;
        width: 90%;
    }

    .doublep.texte__colonnes--15desk{
        margin-top: 28px;
    }

    .h3--unevenementsmart{
        display: flex;
        margin: 0;
    }
    .h3--unevenementsmart .texte__colonnes--15desk{
        margin: 0;
    }
    .texte__bloc--desktop p{
        max-width: 100%;
        margin-right: 0;
    }
    .texte__bloc--desktop {
        margin-top: 35px;
        margin-left: 19.7%;
        max-width: 32%;
    }
    .webisdone {
        margin-left: 7.4%;
    }
    .webisdone img {
        /*00width: 152%;*/
        margin: 0;
        width: 27.8vw;
        margin-bottom: 26px;
    }
    .h3--edition2022{
        width: 100%;
        flex-direction: row;
        margin: 0;
    }

    #replacement__ordre{
        order: 1;
    }
    .texte__bloc--desktop--droite{
        margin-top: 57px;
        order: 2;
    }
    .simpson{
        margin-top: 8px;
        margin-left: 13.4%;
        margin-bottom: 22px;
    }
    .simpson img{
        width: 262%;
    }
    .texte__colonnes--11desk{
        font-size: 23px;
        max-width: 32.5%;
    }
    .texte__colonnes--droite.doublep.bold{
        margin-top: 0;
    }
    .h3--edition2022{
        margin-bottom: 0px;
        
    }
    .h3--laconference .texte__colonnes--gauche.first{
        margin: 0 0 0 46.8%;
        max-width: 36%;
    }
    .h3--laconference .texte__colonnes--gauche{
        max-width: 36%;
        margin: 0 0 0 46.8%;
    }
    .h3--laconference .texte__colonnes--gauche.doublep{
        margin: 0 0 0 46.8%;
        max-width: 36%;
    }
    .h3--edition2022 .texte__colonnes--11desk{
        margin-left: 41.4%;
        margin-bottom: 26px;
    }
    .h3--edition2022 .texte__colonnes--droite{
        margin-top: 8px;
    }
    .h3--laconference .texte__colonnes--11desk{
        margin: 0;
        margin-top: 26px;
        margin-left: 51%;
        margin-right: 17%;
        margin-bottom: 28px;
        max-width: 60%;
    }
    .h3--laconference .first.texte__colonnes--11desk{
        margin-top: 8px;
    }
    .h3--laconference .bold.texte__colonnes--11desk{
        margin-top: 28px;
    }
    .h3--laconference{
        display: flex;
        flex-direction: row;
        margin: 0 0 0 0;
    }
    .h3--laconference .texte__bloc--desktop--droite{
        margin-bottom: 22px; 
    }
    .beforeCSS{
        margin-top: 58px;
        margin-left: 15.1%;
        margin-bottom: 0;
    }
    .beforeCSS img{
        width: 320%;
    }

    .h3--amedartiste{
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        margin: 0 0 0 0;
        width: 100%;
    }
    .h3--amedartiste .bold.texte__colonnes--15desk{
        margin: 6px 0 22px 0;
        width: 90%;
    }
    .h3--amedartiste .texte__colonnes--11desk{
        margin: 204px 0 0 19.8%;
        max-width: 22.7%;
    }
    .h3--amedartiste .texte__bloc--desktop{
        margin: 0 0 0 5.9%;
    }
    .firstbook{
        margin: 0;
    }
    .firstbook img{
        width: 38vw;
        margin: 0px;
    }
    .h3--mavision{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 21px;
        margin-left: 0;
    }
    .h3--mavision .texte__bloc--desktop{
        display: flex;
        max-width: 100%;
        margin-left: 15%;
        margin-top: 56px;
        margin-bottom: 0;
    }
    .h3--mavision .texte__colonnes--11desk{
        margin: 0;
        max-width: 27%;
        font-size: 40px;
        line-height: 1.15;
    }
    .perceval{
        margin: 0 0 0 1.7%;
    }
    .perceval img{
        width: 36.5vw;
        margin: 0 0 42px 0;
    }
    .h3--mavision .texte__colonnes--25desk{
        margin: 48px 0 0 28.8%;
        max-width: 48.5%;
        font-size: 1.44em;
    }
    .h3--monressenti{
        display: flex;
        flex-direction: row;
        margin-bottom: 19px;
        margin-top: 58px;
    }
    .h3--monressenti .texte__bloc--desktop{
        max-width: 39.2%;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
    }
    .h3--monressenti .texte__colonnes--20desk{
        max-width: 96.5%;
        font-size: 1.44em;
        margin-top: 4px;
        margin-left: 0;
    }
    .hobbit{
        margin: 0 0 0 0.2%;
    }
    .hobbit img{
        width: 27.7vw;
        margin: 0;
    }
    .h3--monressenti .texte__colonnes--11desk{
        margin: 12px 3.5% 0 0;
        max-width: 73.5%;
        font-size: 40px;
        line-height: 1.15;
        align-self: flex-end;
    }
    .h3--nouvgen{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-bottom: 19px;
        width: 100%;
        margin-top: 58px;
    }
    .marty{
        margin: 0 5.4% 0 0;
        justify-self: flex-start;
    }
    .marty img{
        width: 38vw;
    }
    .h3--nouvgen .texte__colonnes--20desk{
        max-width: 100%;
        font-size: 1.44em;
        margin: 29px 0 0 0;
    }
    .h3--nouvgen .texte__colonnes--11desk{
        margin: 0 0 0 0;
        max-width: 76%;
        font-size: 40px;
        line-height: 1.15;
        align-self: flex-end;
    }
    .h3--nouvgen .texte__bloc--desktop{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 8.9%;
        margin-top: 0;
        width: 100%;
        justify-self: flex-end;
    }
    .h3--aretenir{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .h3--aretenir .texte__bloc--desktop{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        max-width: 100%;
        margin-top: 50px;
        margin-left: 0;
    }
    .h3--aretenir .texte__colonnes--11desk{
        margin: 50px 0 0 19.8%;
        font-size: 40px;
        line-height: 1.15;
        max-width: 48.5%;
    }
    .h3--aretenir .texte__colonnes--10desk{
        font-size: 1.44em;
        margin-top: 5px;
        margin-right: 11.9%;
        margin-left: 21%;
        max-width: 29%;
        justify-self: flex-start;
    }
    .futur{
        margin: 0 0% 0 19.7%;
    }
    .futur img{
        margin: 0;
        width: 33.5vw;
    }
    .maincontainer__equipe .title--medium.second{
        margin-top: 30px;
        text-align: start;
    }
    .maincontainer__equipe{
        grid-template-rows: 150px 600px 600px auto;
    }
    .section__equipier--kesily{
        background-size: 50%;
    }
    .section__equipier--thibaud{
        background-size: 30%;
    }
    .section__equipier--mika{
        background-size: 30%;
    }
    .section__equipier--jonathan{
        background-size: 50%;
    }
    .equipier__nom{
        font-size: 2.4883em;
        margin-top: 10px;    
    }
    .equipier__description{
        font-size: 1.44em;
        max-width: 35%;
        margin-top: 22px;
        margin-left: 5%;    

    }
    .texte__equipeprojet{
        font-size: 1.44em;
        margin-left: 5%;    
    }
    .reseaux{
        margin-top: 30px;
        margin-left: 5%;    

    }
    .footercontainer{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        /*flex-direction: row;
        align-items: center;
        justify-content: flex-start;*/
    }
    .subNav{
        justify-self: flex-start;
        margin-left: 3%;
        width: 100%;
    }
    .subNav__el{
        margin-top: 18px;
        font-size: 1.2em;
        margin-right: 5px;
        min-width: 0%;
    }
    .credits{
        margin-top: 36px;
        margin-left: 22%;
        display: flex;
        font-size: 1em;
        justify-content: flex-start;
    }
    .credits svg{
        height: 18px;
    }
    .uikit .title--medium.second{
        margin-top: 89px;
    }
    .uigrid .title--small.ui{
        margin-left: 12%;
        margin-top: 45px;  
    }
    .uigrid__droite .title--small.ui{
        margin-left: 4.8%;
    }
    .uigrid .title--small.ui.first{
        margin-top: 45px;  
    }
    .uikit .uigrid__el--logo{
        margin-top: 28px;
        margin-left: 24%;
        margin-bottom: 96px;
    }
    .uikit .uigrid__el--boutons{
        margin-top: 36px;
        margin-left: 21%;
        margin-bottom: 101px;
    }
    .picto-reseaux{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2C51A9;
        width: 30%;
        margin: 20px 0 0 24%;
    }
    .uikit a{
        margin-left: 24%;
        margin-top: 35px;
    }
    .uikit .texte__equipeprojet{
        background-color: #2C51A9;
        width: 30%;
        text-align: center;
        margin-bottom: 77px;
        margin-top: 24px;
    }
    .title--small.alone{
        margin-left: 9%;
        margin-top: 0;
    }
    .uigrid .title--underline{
        margin-left: 9%;
        margin-bottom: 110px;
    }
    .uigrid .title--big{
        max-width: 80%;
        margin-left: 9%;
        margin-top: 58px;
        margin-bottom: 42px;
    }
    .uigrid .title--medium.second{
        margin-left: 9%;
        text-align: start;
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .uigrid__el--paragraphes .texte__colonnes--gauche.doublep{
        margin-left: 0%;
    }
    .uigrid__el--paragraphes{
        margin-top: 58px;
        margin-left: 9%;
    }

    .texte__hyperlink.ui{
        font-size: 21px;
    }
    .uigrid .texte__colonnes--gauche.doublep.bloquote{
        font-weight: 800;
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 32px;
    }
    .uigrid{
        display: grid;
        grid-template-columns:  1fr 3fr;
    }
    .uigrid__droite{
        grid-column: 2;
    }


    .casestudy .title--medium.second{
        margin-top: 86px;
        margin-right: 6%;
    }
    .casestudy .title--small.case{
        margin-left: 12.1%;  
    }
    .casestudy .title--small.case.first{
        margin-top: 49px;  
    }

    .case{
        margin-left: 19.7%;
    }
    .case img{
        margin-top: 48px;
        width: 57.6%;
    }
    .casestudy .texte__colonnes--gauche{
        margin-left: 19.7%;
        max-width: 37.9%;
        margin-top: 22px;
        margin-bottom: 21px;
        font-size: 1.423828125em;
    }
    .casestudy .texte__colonnes--gauche.droite{
        margin-left: 39.4%;
    }
    .contraste img{
        margin-top: 88px;
        margin-bottom: 30px
    }
    .logoimage img{
        margin-top: 46px;
    }
    .layout img{
        margin-bottom: 41px;
        width: 37.9%;
    }
    .lagrille img{
        margin-top: 47px;
        margin-bottom: 44px;
        width: 37.9%;
    }
    .discord img{
        margin-bottom: 42px;
    }
    .hackeur img{
        margin-bottom: 42px;
    }
    .menu--open{
        width: 40%;
    }
    .bgmenu__el--h3{
        padding: 0;
        margin-left: 22.8%;
        margin-top: 15px;
    }
    .bgmenu__el--h2{
        margin-top: 8px;
        margin-left: 15%;
    }
    .bgmenu__el--h2.first{
        margin-top: 18px;
    }
    .bgmenu__el{
        font-size: 30px;
    }
    .lien{
        background-position: 0%;
    }
    .lien a{
        margin-left: 8%;
    }
    .bgmenu__el--h3.first{
        margin-top: 22px;
    }
    .videopro .title--medium.second{
        margin-top: 86px;
    }
    .videopro .texte__colonnes--gauche{
        margin-left: 19.7%;
        max-width: 30%;
        margin-top: 67px;
    }
    .movie{
        width: 68.2%;
        height: auto;
        margin-left: 19.7%;
        margin-top: 50px;
    }
    .dark .texte__equipeprojet{
        background-color: #5AC139;
    }
    .title--underline{
        margin-left: 0;
        width: 50px;
    }
    #underline1{
        margin-left: calc(12.2%);
    }
    #underline2{
        margin-left: calc(12.2% + 50px);
    }
    #underline3{
        margin-left: calc(12.2% + 100px);
    }
    #underline4{
        margin-left: calc(12.2% + 150px);
    }
    #underline5{
        margin-left: calc(12.2% + 200px);
    }
    #underline6{
        margin-left: calc(12.2% + 250px);
    }
    #underline7{
        margin-left: calc(12.2% + 300px);
    }
    #underline8{
        margin-left: calc(12.2% + 370px);
    }
    
    


    
    

}

